<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personas Inexistentes a pedido</title>
    <script>
        function refreshPage() {
            window.location.reload();
        }
    </script>
</head>

<body>
<div class="class p-4">

</div>
<section class="hero is-small is-warning">
    <div class="hero-body">
      <p class="title p-4 has-text-centered has-text-danger">
        Personas Inexistentes a pedido
      </p>
    </div>
  </section>

    <section class="hero is-info has-background-warning-dark">
        <div class="hero-body p-4">
            <p class="title">

            </p>
            <p class="subtitle">
                <center>
                    <h4>Simple aplicacion usando Python3, Flask, Bulma, y una api.</h4>
                </center>
            </p>
        </div>
    </section>

    <div class="container">
        <div class="notification is-primary has-background-danger-light">
            <div class="conteiner p-4">
                <center><img src=" {{ perso }} " alt=""></center>
            </div>
            <center><button type="submit" class="btn btn-secondary" onClick="refreshPage()">Otro más</button></center>
        </div>
    </div>




</body>

</html>